html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 900px;
  margin: 6rem auto;
}

.error {
  color: red;
}

label,
input {
  display: block;
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
}

label[for="agreement"] {
  display: inline-block;
}
