<web-app>
	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>HelloWorld</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/HelloWorld</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RequestParameters</servlet-name>
		<servlet-class>RequestParameters</servlet-class>
		<init-param>
      <param-name>firstName</param-name>
      <param-value>Krishna</param-value>
    </init-param>
		<init-param>
      <param-name>lastName</param-name>
      <param-value>Moorthy</param-value>
    </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestParameters</servlet-name>
		<url-pattern>/sayhi</url-pattern>
	</servlet-mapping>
</web-app>
