* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

.heading {
  font-weight: 800;
  color: #1e90ff;
  padding-bottom: 1rem;
  font-size: 3.8rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e1e1e1;
  letter-spacing: -.1rem;
}
